01_incoming_data.infercnv_obj
02_reduced_by_cutoff.infercnv_obj
03_normalized_by_depthHMMi6.infercnv_obj
04_logtransformedHMMi6.infercnv_obj
08_remove_ref_avg_from_obs_logFCHMMi6.infercnv_obj
09_apply_max_centered_expr_thresholdHMMi6.infercnv_obj
10_smoothed_by_chrHMMi6.infercnv_obj
11_recentered_cells_by_chrHMMi6.infercnv_obj
12_remove_ref_avg_from_obs_adjustHMMi6.infercnv_obj
14_invert_log_transformHMMi6.infercnv_obj
15_no_subclusteringHMMi6.infercnv_obj
17_HMM_predHMMi6.hmm_mode-samples.cell_groupings
17_HMM_predHMMi6.hmm_mode-samples.genes_used.dat
17_HMM_predHMMi6.hmm_mode-samples.infercnv_obj
17_HMM_predHMMi6.hmm_mode-samples.pred_cnv_genes.dat
17_HMM_predHMMi6.hmm_mode-samples.pred_cnv_regions.dat
20_HMM_pred.repr_intensitiesHMMi6.hmm_mode-samples.Pnorm_0.5.infercnv_obj
22_denoiseHMMi6.NF_NA.SD_1.5.NL_FALSE.infercnv_obj
expr.infercnv.17_HMM_predHMMi6.hmm_mode-samples.dat
expr.infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.dat
expr.infercnv.dat
expr.infercnv.preliminary.dat
infercnv.17_HMM_predHMMi6.hmm_mode-samples.heatmap_thresholds.txt
infercnv.17_HMM_predHMMi6.hmm_mode-samples.observation_groupings.txt
infercnv.17_HMM_predHMMi6.hmm_mode-samples.observations.txt
infercnv.17_HMM_predHMMi6.hmm_mode-samples.observations_dendrogram.txt
infercnv.17_HMM_predHMMi6.hmm_mode-samples.png
infercnv.17_HMM_predHMMi6.hmm_mode-samples.references.txt
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.heatmap_thresholds.txt
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.observation_groupings.txt
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.observations.txt
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.observations_dendrogram.txt
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.png
infercnv.20_HMM_predHMMi6.hmm_mode-samples.Pnorm_0.5.repr_intensities.references.txt
infercnv.heatmap_thresholds.txt
infercnv.observation_groupings.txt
infercnv.observations.txt
infercnv.observations_dendrogram.txt
infercnv.preliminary.heatmap_thresholds.txt
infercnv.preliminary.observation_groupings.txt
infercnv.preliminary.observations.txt
infercnv.preliminary.observations_dendrogram.txt
infercnv.preliminary.png
infercnv.preliminary.references.txt
infercnv.references.txt
preliminary.infercnv_obj
run.final.infercnv_obj
map_metadata_from_infercnv.txt
top_losses.txt
top_duplis.txt
